.canvas {
  border: solid 2px #000;
}
.titleCanvas {
  border: solid 2px red;
  display: none;
}
.likeCanvas {
  border: solid 2px blue;
  display: none;
}
.celebrateCanvas {
  border: solid 2px green;
  display: none;
}
.loveCanvas {
  border: solid 2px hotpink;
  display: none;
}
.pollChoice {
  width: 100%;
  display: flex;
  margin-top: 40px;
}
.pollAction {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}
.inputTitle {
  width: 250px;
}
